<div class="courses-containers">
  <div class="courses-list">
    <!-- we want to be able to pass the courses down to this child -->
    <!-- courses is available as an attribute -->
    <!-- we added emitters in the child template -->
    <!-- we basically wrote our own event, so we can declare that -->
    <!-- selected is the event from the child, and we want to bind it i guess to the function in the parent -->
    <!-- when you're binding to an output, it has a single param, which is an event object -->
    <!-- in the component class it can be called anything, but in the template, it must be called event, mapping happens under the hood -->
    <app-courses-list
      [courses]="courses"
      (selected)="selectCourse($event)"
      (deleted)="deleteCourse($event)"
    ></app-courses-list>
  </div>

  <div class="course-details">
    <app-course-details
      [course]="selectedCourse"
      (saved)="saveCourse($event)"
      (cancelled)="cancel()"
    ></app-course-details>
  </div>
</div>

<!-- additional things to do in the form 
    adding remaining two fields into angular compoennt
    what would be an appropriate control for percentage, and for favorite, which is a boolean?
 -->
